.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background-color: #FFD814;
    border-color: #FCD200;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 232px;
    height: 25px;
    padding: 1px 6px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}